body {
  background-image: url("../images/Background.svg");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
   }

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.barra-superior {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px 20px;
    background: transparent;
    justify-content: center;
}

.perfil {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 20px;
}

.tabs {
  display: flex;
  gap: 10px;
}

.tab {
  padding: 8px 20px;
  border: none;
  border-radius: 10px;
  background-color: #f7e6e6;
  color: #333;
  font-weight: bold;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.tab.active {
  background-color: #fff;
}

/* Feed */
.feed {
  width: 80%;
  max-width: 700px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.post {
  display: flex;
  align-items: flex-start;
  background: white;
  border-radius: 15px;
  padding: 15px;
  box-shadow: 0 3px 10px rgba(0,0,0,0.1);
  gap: 10px;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.content h3 {
  margin: 0;
  color: #333;
  font-size: 1rem;
  letter-spacing: 1px;
}

.icone {
  display: inline-block;
  margin-top: 8px;
  color: #aaa;
  font-size: 18px;
}
    
  