* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Jost", sans-serif;
}




body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}


.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}


.container-geral {
  display: flex;
  flex-direction: column;
  height: 100vh;
  position: relative;
  z-index: 1;
}




.topo {
  display: flex;
  align-items: center;
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(5px);
  height: 90px;
  padding: 10px 30px;
}


.logo-container {
  display: flex;
  align-items: center;
  gap: 15px;


}


.logo {
  width: 75px;
  height: auto;
}


.titulo {
  height: 90px;
  object-fit: contain;
}


.lateral {
  position: absolute;
  top: 90px;
  left: 0;
  width: 270px;
  height: calc(100% - 90px);
  background: rgba(255, 255, 255, 0.05);
  border-right: 1.5px solid rgba(255, 255, 255, 0.7);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
}

.seta {
  width: 40px;
  margin-bottom: 40px;
  cursor: pointer;
}

.perfil {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
}

.foto-perfil {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.6);
  margin-bottom: 20px;
}

.nome-usuario {
  font-weight: 600;
  margin-bottom: 5px;
}

.categoria {
  font-size: 14px;
}

.conteudo {
  margin-left: 300px;
  margin-top: 40px;
  height: calc(100vh - 130px);
  overflow-y: auto;
  padding-right: 40px;
}

.comentario {
  background: rgba(255, 255, 255, 0.9);
  border-radius: 15px;
  padding: 20px 25px;
  margin-bottom: 25px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  position: relative;
}


.autor {
  font-weight: 700;
  margin-bottom: 10px;
}


.texto {
  color: #222;
  line-height: 1.5;
  text-align: justify;
}


.hora {
  position: absolute;
  top: 20px;
  right: 25px;
  color: #777;
  font-size: 14px;
  font-weight: 500;
}

.pontos {
display: flex;
height: 29px;
}



.modal{
width: 300px;
    height: 200px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    display: flex;
    padding: 30px;
    opacity: 1;
    z-index: 999999;
    border-radius: 20px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
 

}

.back-modal{
  width:100vw;
  height:100vh;
  position:fixed;
  background-color:black;
  opacity:0.8;
  
  display:flex;
  justify-content: center;
  align-items: center;
  
  cursor: pointer;
  z-index: 99;
}


.disable{
  display:none;
}